<h3>Properties</h3>

<div class = "table-responsive">
  <table class = "table table-striped table-sm">
    <thead>
      <tr>
        <th>ID #</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Property ID</th>
        <th>Status</th>
        <th>User ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let bookingrequest of bookingrequests">
        <td>{{bookingrequest.id}}</td>
        <td>{{bookingrequest.datefrom}}</td>
        <td>{{bookingrequest.dateto}}</td>
        <td>{{bookingrequest.propertyid}}</td>
        <td>{{bookingrequest.status}}</td>
        <td>{{bookingrequest.userid}}</td>
      </tr>
    </tbody>
  </table>
</div>
